# lab42_html

<%= xtra.do_not_edit_warning template: template %>

[![Build Status](https://travis-ci.org/RobertDober/lab42_html.svg?branch=master)](https://travis-ci.org/RobertDober/lab42_html)
[![Coverage Status](https://coveralls.io/repos/github/RobertDober/lab42_html/badge.svg?branch=master)](https://coveralls.io/github/RobertDober/lab42_html?branch=master)
[![Hex.pm](https://img.shields.io/hexpm/v/lab42_html.svg)](https://hex.pm/packages/lab42_html)
[![Hex.pm](https://img.shields.io/hexpm/dw/lab42_html.svg)](https://hex.pm/packages/lab42_html)
[![Hex.pm](https://img.shields.io/hexpm/dt/lab42_html.svg)](https://hex.pm/packages/lab42_html)


## Synopsis:

An isolated HTML generator. Inspired in its simplicity by Dave Thomas' keynote, condensed here https://pragdave.me/blog/2018/06/02/project-structure.html


## License:

[Apache-2.0](LICENSE)
# SPDX-License-Identifier: Apache-2.0
